.flashcards-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #2f3334;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: #42b7e2;
    margin: 30px 0;
}

.logo img {
    max-height: 60px;
    transform: rotateY(180deg);
    margin-right: 10px;
}

.flashcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 20vw;
    padding: 20px;
    background-color: #42b7e2;
    color: #313638;;
    box-shadow: 0px 7px 7px rgba(58, 27, 196, 0.438);
    box-sizing: border-box;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px
}

.flashcard ion-icon{
    font-size: 25px;
    cursor: pointer;
}